<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Maze solution</title>
    <link href="css/maze-solution.css" th:href="@{/css/maze-solution.css}" rel="stylesheet">
</head>
<body>

<h1>Maze solution</h1>
<h2>Message</h2>
<p th:text="${mazeSolution.message}"></p>
<h2>Final State</h2>
<table>
    <tr th:each="i : ${#numbers.sequence(0,99)}">
        <td th:each="j : ${#numbers.sequence(0,99)}"
            th:classappend="${mazeSolution.cells[j][i].getCssClasses()}"
            th:text="${mazeSolution.cells[j][i].getCellText()}">
        </td>
    </tr>
</table>
</body>
</html>